header>a{
    font-size: 1.5rem;
    font-weight: 700;
    color: $dark;
}
header{
    padding: 2rem 0;
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    li{
        margin-left: 3rem;
        a{
            color: $font-color-primary;
            font-weight: 600;
        }
    }
}
main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px,1fr));
    align-items: stretch;
    align-content: stretch;

}
.hero-text,.hero-img,.about, .exp-img, .exp,.form{
    grid-column: span 2;
}
img{
    // width: 100%;
    max-width: 100%;
    height:100% ;
    // height: 900px;
    object-fit: cover;
    
}
.hero-img{
    height: 100vh;
    
}
.hero-text{
    background-color: $hero-bg;
    display: grid;
    align-content: center;
    
    p:first-child{
        font-weight: 500;
    }
    p:not(:first-child){
        line-height: 2;
        margin-bottom: 4rem;
        
    }
    button{
        width: 10rem;
        height: 2.5rem;
        border-radius: 9999px;
        background-color: transparent;
        border: 3px solid $dark;
        a{
            color: $dark;
            font-weight: 600;
            letter-spacing: 1px;
            
        }
    }

}
h1{
    font-size: 3rem;
    font-weight: 300;
    color: $dark;
    margin: 1rem 0;
    strong{
        font-weight: 500;
    }
}
h2{
    @extend h1;
    margin: 0.5rem 0;
}
.about{
    .accented{
        margin-bottom: 2rem;
    }
    p{
        margin: 1rem 0;
    }
}
.skills{
    background-color: $accent-primary;
    
    h2{
        color: #fff;
    }
    p{
        color: #fff;
        margin-bottom: 2rem;
    }

}
progress{
    width: 100%;
    border: 0;
    height: 3px;
    background-color: black;
    margin: 0.5rem 0 1rem 0;
    &::-webkit-progress-value{
        background-color: #000;
    }
    &::-webkit-progress-bar{
        background-color: #fff;
    }
}
small{
    font-weight: 700;
}
h3{
    font-size: 1.8rem;
    font-weight: 300;
    margin: 1rem 0;
}
.skill{
    text-align: center;
    color: #fff;
    i{
        font-size: 3rem;
        padding-bottom: 2rem;
    }
    p{
        color: #fff;
        line-height: 2;
        font-size: 1.2rem;
    }
}
.skill-1{
    background-color: $accent-primary;
}
.skill-2{
    background-color: $accent-secondary;
}
.skill-3{
    background-color: $dark;
    color: #fff;
}
.skill-4{
    color: #000;
    p{
        color: #000;
        
    }
}
.exp{
    background-color: $accent-secondary;
    color: #fff;
    i{
        font-size: 3rem;
        margin-right: 2rem;
    }
    h3{
        display: inline-block;
        
    }
    span{
        color: $font-orange-bg;
        font-weight: 800;
    }
    .flex{
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 2rem;
    }
    p{
        color: #fff;
        font-size: 1.2rem;
        
    }
    h2{
        color: #fff;
    }
    p:nth-child(2){
        margin-bottom: 3rem;
    }
}
.education{
    @extend .exp;
    background-color: $accent-primary;
    span{
        color: $font-yellow-bg;
    }
}
.form{
    background-color: $accent-secondary;
    p{
        font-size: 1.2rem;
        color: #fff;
    }
    h2{
        color: #fff;
    }
    form{
        width: 100%;
        margin-top: 2rem;
    }
    input,textarea{
        width: 100%;
        font-size: 1.3rem;
        color: #fff;
        font-family: 'Raleway', sans-serif;
        padding: 1rem;
        background-color: transparent;
        border:0;
        border-bottom: 1px solid $accent-primary;
        margin-top: 1.5rem;
        &::placeholder{
            color: #fff;
        }
        &:focus{
            outline: 0;
        }
    }
    input[type=submit]{
        background-color: #fff;
        color: $dark;
        width: 30%;
        border-radius: 9999px;
        cursor: pointer;
    }
}
.contact{
    background-color: $dark;
    color: #fff;
    address{
        color: $font-color-primary;
        font-size: 1.2rem;
        line-height: 2;
        margin: 1rem 0;
    }
    i{
        margin-right: 1.5rem ;
    }
    a{
        color: $accent-primary;
        font-weight: 300;
    }
    h3:nth-child(3){
        margin-top: 4rem;
    }

}
.map{
    grid-column: span 4;
    background-color: $accent-secondary;
    iframe{
        width: 70%;
        margin: 0 auto;
        display: block;
        box-shadow: 1px 1px 20px 10px rgba(0, 0, 0, 0.438);
    }

}
footer{
    text-align: center;
    padding: 10rem ;
    p{
        margin: 4rem 0;
        font-size: 1.2rem;
    }
    ul{
        width: 30%;
        margin: 0 auto;
        a{
            color: $font-color-primary;
        }
    }
}
// @media screen and (max-width:768px) {
//     html{
//         font-size: 12px;
//     }
//     .container{
//         width:95%;
//     }
//     main{
//         grid-template-columns: repeat(1,1fr);
//     }
    
// }