$hero-bg: rgb(245,227,215);
$accent-primary: rgb(236,175,78);
$accent-secondary: rgb(252,104,62);
$dark: rgb(22,22,22);
$font-color-primary: rgb(154,154,154);
$font-orange-bg:rgb(113,50,52);
$font-yellow-bg:rgb(149,119,19);
